#todo.edit_mode
  #header
    .list_title
      Loading...
    .actions
      %a.gh_button{href: "#"} fork
      %a.social_count{href: "#"} 0
    .clearfix
  %ul
  #footer.hide
    %input.new_item{placeholder: "Add an item to this list..."}
  / .fb-like{"data-href" => "<%= document.url %>", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "200"}
