#attached
  #logo
    %a{href: "/"}
      forkbin
  %ul.right
    %li.first
      %a.new_list_link{href: "#"}
        Create a new list
    %li
      %a{href: "/"}
        My lists
    %li
      %a{href: "/logout", :"data-method" => 'delete', rel: "nofollow"}
        Logout
